## Packages

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import sqlalchemy

## Data Preparation

In [33]:
engine = sqlalchemy.create_engine("sqlite:///data/mta_data_all.db")
mta_table = engine.table_names()[0]
mta_df = pd.read_sql('SELECT * FROM '+mta_table+' LIMIT 5', engine)
mta_df

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/28/2021,00:00:00,REGULAR,7625998,2609113
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/28/2021,04:00:00,REGULAR,7626014,2609117
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/28/2021,08:00:00,REGULAR,7626024,2609135
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/28/2021,12:00:00,REGULAR,7626086,2609191
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/28/2021,16:00:00,REGULAR,7626206,2609221

### MTA Data Base on Year
Query data yearly from 2018-2021 and compare them with each other.

#### MTA Data 2018

In [20]:
engine = sqlalchemy.create_engine("sqlite:///data/mta_data_eighteen.db")
mta_df = pd.read_sql('SELECT STATION, DATE, TIME, ENTRIES FROM mta_data', engine)
mta_df.head()

  STATION        DATE      TIME  ENTRIES
0   59 ST  12/22/2018  03:00:00  6881995
1   59 ST  12/22/2018  07:00:00  6882006
2   59 ST  12/22/2018  11:00:00  6882062
3   59 ST  12/22/2018  15:00:00  6882243
4   59 ST  12/22/2018  19:00:00  6882590

In [21]:
mta_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10305449 entries, 0 to 10305448
Data columns (total 4 columns):
 #   Column   Dtype
---  ------   -----
 0   STATION  object
 1   DATE     object
 2   TIME     object
 3   ENTRIES  int64
dtypes: int64(1), object(3)
memory usage: 314.5+ MB

In [22]:
mta_df.drop_duplicates(keep='first',inplace=True,ignore_index=True)

In [23]:
mta_df.shape

(10270575, 4)

In [24]:
mta_df['DATE_TIME'] = mta_df.DATE + ' ' + mta_df.TIME
mta_df['DATE_TIME'] = pd.to_datetime(mta_df.DATE_TIME, format = '%m/%d/%Y %H:%M:%S')
mta_df.dtypes

STATION              object
DATE                 object
TIME                 object
ENTRIES               int64
DATE_TIME    datetime64[ns]
dtype: object

In [25]:
mta_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10270575 entries, 0 to 10270574
Data columns (total 5 columns):
 #   Column     Dtype
---  ------     -----
 0   STATION    object
 1   DATE       object
 2   TIME       object
 3   ENTRIES    int64
 4   DATE_TIME  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 391.8+ MB

#### MTA Data 2019

### MTA Data Base on Seasons
Query data from seasons to get more significant insights from each year.

### MTA Data Base on Time
Query data by time to have a better understanding of each subway stations population flow.